################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/producer/bin/Debug/netcoreapp6.0
